---

---

<footer>
    <small><span id="copyright"></span> &copy; Все права защищены</small>
</footer>

<script>
    document.querySelector("#copyright").textContent = new Date().getFullYear().toString();
</script>